<div class="flex1-cont">
    <ul class="flex1">
        <select name="" id=""> 
            <option value="home"><a routerLink="./home">Home</a></option>
            <option value="login"><a routerLink="./login">login </a></option>
            <option value="register"><a routerLink="./register">register</a></option>
        
            <select name="" id="">
                <option value=""><a routerLink="./login">Admin</a></option>
            </select>
        </select>
        </ul>
        
</div>